@charset "utf-8";
/* CSS Document */

html {
	
	font-family: "Open Sans";
	height: 100%;
	background-color: FFFFF0;
	
}

body {
	
	background-color: FFFFF0;
	
}

#links {
	
	padding-top: 30px;
	
}

#links-inner {
	
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	
}

#links-inner p {
	
	text-align: center;
	
}

#links-inner a {
	
	display: block;
	text-align: center;
	
}

body h1{
	
	font-size: 80px;
	
}

body p {
	
	font-size: 20px;
	
}